<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=10.1.11.3;Database=NTEFakture;User Id=nKte1sa2f;Password=I9yyX67.8YnhS;" />
		<add name="LocalConnection" connectionString="Server=JO-PC;Database=NTEFakture;Trusted_Connection=true" />
	</connectionStrings>
	<appSettings>
		<add key="Connection" value="Local" />
		<add key="Enviroment" value="Demo" />

		<add key="ProductionURI" value="https://demoefaktura.mfin.gov.rs/api/publicApi"/>
		<add key="ProductionAPIKey" value="efb1db3e-95f2-4f93-b498-7547ee6676a3" /> 

		<add key="DemoURI" value="https://demoefaktura.mfin.gov.rs/api/publicApi"/>
		<add key="DemoAPIKey" value="efb1db3e-95f2-4f93-b498-7547ee6676a3" />

		<add key="SaveXML" value="true" />
		<add key="XMLSavingLocation" value="C:/Work/NTEERacun/Fakture_Drzavno/Fakture_Drzavno/Fakture_Drzavno/bin/Debug/netcoreapp3.1/xml/" />
	</appSettings>
</configuration>